<style>
:root {
  --pageColor: #e1f5fe;
  --navMainColor: #01579b;
  --borderCol: #01579b;
  --selectedBoxColor: #0277bd;
  --selectedColorText: #ffffff;
  --textColor: #b3e5fc;
  --highlightedTextColor: #ffffff;
  --dropdownBoxColor: #40c4ff;
  --dropdownMenuColor: #0091ea;
  --dropdownTextColor: #ffffff;
  --brandHighlightedTextColor: #ffffff;
}

body{
  background: var(--pageColor)  !important;
}

.jumbotron {
  background-color: transparent !important;
  margin: 10px;
  padding: 10px;
}

.panel-heading{
  background-color: #b3e5fc !important;
}

.panel-body {
background: var(--pageColor) !important;
}

/* navbar */
.navbar-default {
    background-color: var(--navMainColor);
    border-color: var(--borderCol);
}

.navbar-nav > li > .dropdown-menu {
    background-color: var(--dropdownMenuColor);
}

.navbar-nav > li > .dropdown-menu a{
     color: var(--dropdownTextColor)  }

/* title */
.navbar-default .navbar-brand {
    color: var(--textColor);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--brandHighlightedTextColor);
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: var(--textColor);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: var(--highlightedTextColor);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: var(--selectedColorText);
    background-color: var(--selectedBoxColor);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: var(--selectedColorText);
    background-color: var(--dropdownBoxColor);
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: var(--textColor);
    border-bottom-color: var(--textColor);
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: var(--highlightedTextColor);
    border-bottom-color: var(--highlightedTextColor);
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: var(--selectedColorText);
    border-bottom-color: var(--selectedColorText);
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: var(--textColor);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: var(--highlightedTextColor);
    }
}
</style>
